a[href]{
    text-decoration: lightpink;
    text-transform: capitalize;
    background-color:lightslategray;
}
#top-container{
    background-color: lightyellow;
}
p:hover{
    color: white;
    background-color: black;
    font-family: 'Itim', cursive;
    
}
.success{
    color: chocolate;
}
li:hover{
    color: white;
    background-color: black;
    font-family: 'Itim', cursive;
}
.feedback{
    color: lightgreen;
}
.error{
    color: lightslategray;
}
.work{
    color: darkorange;
}
